body{
    font-family: "Newsreader", serif;
    margin: 0;
    padding: 0;
    background-color: #e3ded4;

}

::-webkit-scrollbar {
    display: none;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.outer-headings{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    
}

.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}


.skills .projects .about h1{
    font-size: 35px;
}

.skills h2{
    font-size: 30px;
}

h1 {
    font-size: 45px;
}

.inner-headings{
    border: 0px solid #ddd;
    height: 50px;
    line-height: 50px;
    font-size: 45px;
    text-transform: uppercase;
    overflow: hidden;
}

.inner-headings span {
    position: relative;
    animation: animation 15s ease infinite;
}

.solid{
    margin-top: 75px;
    border-top: 2px solid #585757;
    width: 85%;
    opacity: 0.5;
}

@keyframes animation {
    0%, 
    100%{
        top: -200;
    }
    13%{
        top: 0;
    }
    20%{
        top: -50px;
    }
    26%{
        top: -50px;
    }
    30%{
        top: -100px;
    }
    39%{
        top: -100px;
    }
    43%{
        top: -150px;
    }
    53%{
        top: -150px;
    }
    65%{
        top:-200px;
    }
    70%{
        top:-200px;
    }
    95%{
        top: 0px;
    }
}

.skills-container {
    display: flex;
    gap: 150px;
}

.skills-container span{
    flex: 1;
}

.skills-container h2{
    padding-bottom: 20px;
}

.skills-container li{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    font-weight: 500;
}

.project-card{
    display: flex;
}

img{
    height: 250px;
    width: 250px;
    border-radius: 5px;
    margin-left: 250px;
}

.text p{
    width: 300px;
}

a{
    color: black;

}

p{
    font-size: 20px;
}


.about img{
    width: 400px;
    height: 400px;
    margin-left: 100px;
}

.about p{
    align-items: center;
}